<main class="site-body">
  <section class="content">
    <div class="analysis-layout">
      <aside class="form-aside">
        <mat-card class="form-container">
          <mat-card-header>
            <mat-card-title>🗒️ Lista Geral de Categorias</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <table mat-table [dataSource]="categories" class="mat-elevation-z2">

              <!-- Nome Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let c"> {{ c.name }} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="['name']"></tr>
              <tr mat-row *matRowDef="let row; columns: ['name'];"></tr>
            </table>
          </mat-card-content>
        </mat-card>
      </aside>
    </div>
  </section>
</main>
