<mat-card class="form-container">
  <mat-card-header>
    <mat-card-title>💸 Cadastro de Metas</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form #goalForm="ngForm" (ngSubmit)="onSubmit(goalForm)" class="form-body">

      <!-- Mês -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Mês</mat-label>
        <mat-select [(ngModel)]="selectedMonthIndex" name="month" required (selectionChange)="onMonthChange()">
          <mat-option *ngFor="let m of months; let i = index" [value]="i">
            {{ m }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Ano -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Ano</mat-label>
        <input matInput type="number" [(ngModel)]="goal.year" name="year" required>
      </mat-form-field>

      <!-- Valor limite -->
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Valor limite</mat-label>
        <input matInput type="number" [(ngModel)]="goal.ceiling" name="ceiling" required>
      </mat-form-field>
    </form>
  </mat-card-content>

  
</mat-card>
