<header class="site-header">
  <nav class="navbar">
    <div class="logo">Assistente Financeiro</div>
    <ul class="nav-links">
      <li class="nav-item">
        <button class="nav-link btn-primary" type="button" (click)="save.emit()">💾 Cadastrar</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn-light" type="button" (click)="clear.emit()">🧹 Limpar</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn-light" type="button" (click)="home.emit()">🏠 Página Inicial</button>
      </li>
      <li class="nav-item">
        <button class="nav-link btn-light" type="button"(click)="importCategories.emit()">📥 Importar Categorias</button>
      </li>
    </ul>
  </nav>
</header>
