<mat-toolbar color="primary" class="site-header">
  <span class="logo">Assistente Financeiro</span>

  <span class="spacer"></span>

  <button mat-raised-button color="accent" (click)="save.emit()" [disabled]="!canSubmit">
    💾 Cadastrar
  </button>

  <button mat-stroked-button color="warn" (click)="clear.emit()">
    🧹 Limpar
  </button>

  <button mat-button (click)="home.emit()">
    🏠 Página Inicial
  </button>

  <button mat-raised-button color="primary" (click)="importCategories.emit()">
    📥 Importar Categorias
  </button>
</mat-toolbar>
