<div class="form-container">
  <h2 class="form-title">💸 Cadastro de gastos</h2>

  <form #expenseForm="ngForm" (ngSubmit)="onSubmit(expenseForm)" id="expenseForm" class="form-body">
    <div class="form-group">
      <label for="description" class="form-label">Description</label>
      <input id="description" [(ngModel)]="expense.description" name="description" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="cost" class="form-label">Value</label>
      <input id="cost" type="number" [(ngModel)]="expense.cost" name="cost" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="expenseDate" class="form-label">Date</label>
      <input id="expenseDate" type="date" [(ngModel)]="expense.expenseDate" name="expenseDate" class="form-control" required>
    </div>

   <div class="form-group">
      <label for="category" class="form-label">Category</label>
      <select id="category"
              [(ngModel)]="categoryNameSelected"
              name="category_id"
              class="form-control"
              required
              (change)="onCategoryChange()">
        <option [ngValue]="0">Selecione uma categoria</option>
        <option *ngFor="let name of categoriesName" [ngValue]="name">
          {{ name }}
        </option>
      </select>
    </div>

  </form>
</div>
