<mat-card class="form-container">
  <mat-card-header>
    <mat-card-title>💸 Cadastro de Categorias</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)" id="categoryForm" class="form-body">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="category.name" name="name" required>
        @if (categoryForm.submitted && categoryForm.controls['name']?.hasError('required')) {
          <mat-error>O nome da categoria é obrigatório</mat-error>
        }
      </mat-form-field>
    </form>
  </mat-card-content>

</mat-card>
