<div class="assistant-layout">
  <!-- Header -->
  <header class="site-header">
    <nav class="navbar">
      <div class="logo">Assistente Financeiro</div>
      <ul class="nav-links">
        <li class="nav-item">
          <button class="nav-link btn-light" type="button" (click)="navigation.goTo('')">
            🏠 Página inicial
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link" type="button" (click)="generateDashboard()">
            📋 Gráfico
          </button>
        </li>
      </ul>
    </nav>
  </header>

  <!-- Body -->
  <main class="site-body">
    <section class="content">
      <div class="analysis-layout">

        <!-- Área do Dashboard -->
        <aside class="dashboard-aside">
          <div class="dashboard-container">
            <h2 class="dashboard-title">📊 Dashboard de Gastos</h2>
            <div class="dashboard-body">
              <!-- Canvas onde o Chart.js será renderizado -->
              <canvas id="expensesChart"></canvas>
            </div>
          </div>
        </aside>


      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="site-footer">
    © 2026 Assistente Financeiro - All rights reserved.
  </footer>
</div>
